<div class="fsp"></div>
  <% if @persons.blank? %>
    <h4> 你没有收藏任何人。</h4>
  <% else %>
    <%= render @persons %>
  <% end %>
  <div class="mask"></div>
  <div class="dialog">
    <div class="title">
      
      <%= image_tag "close.jpg", id:"close", class: "ui",height:"25", width:"25"%>
      <p style="margin:0;">TA的二维码</p>
    </div>
    <%= image_tag "", class: "us" %>
  </div>