<div class="content">
    <%= image_tag @person.picture_url(:normal) %>
    <ul class="sh">
      <li class="sh">姓名 <%= link_to @person.name, @person %></li>
      <li class="sh">公司，职务<a href="#" class="sht" id="1">二维码</a></li>
    </ul>
  </div>